body {
	background-color:	#000000;
	color: yellow;
	font: caption;
}

img {
	margin-top: 25px;
	margin-left: 100px;
	border: solid;
	border-width: 20px;
	border-color: #FFFFF0;
}

h1 {
	color: #666629;
	font-family: monospace;
	float: right;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: grey;
	border-width: 3px;
}

#bio {
	margin-bottom:65px;
	margin-top:50px;
	margin-left: 400px;
	margin-right: 40px;
	font-style: italic;
	font-family: sans-serif;
	color: #CCCC52;
}


h2 {
	margin-left: 70px;
	font-style: italic;
	float:right;
	border-top-style: solid;
	border-color:grey;
	border-bottom-style: solid;
	border-width: 2px;
}

ul {
	font-family: fantasy;
	color: #CCCC52;
	margin-left: 60px;
	margin-right:350px;
}

li {
	color: #8DA28D;
}

#fruitbat {
	font-size: 10px;
	margin-left: 70px;
}

a:link {
	color: #00FFFF;
	}

a:visited {
	color: #B87094;
}